{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}
    <h1>Ajouter un lieu</h1>
    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                {{ form_start(lieuForm) }}
                {{ form_widget(lieuForm) }}
                <button type="submit">Ajouter</button>
                {{ form_end(lieuForm) }}
            </div>
            <div class="col-12 col-lg-2"></div>
        </div>
    </section>
{% endblock %}