{%  extends 'base.html.twig' %}

{% block body %}
    <h1>Coucou les Amis</h1>

    <button><a href="{{ path('sortie_create') }}" title="Cree un sortie">Créer une sortie</a> </button>

{% endblock %}
